# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Servidores locales / builds
.netlify/
dist/
build/
node_modules/

# Logs
*.log
npm-debug.log*

# Temporales
*.tmp
*.bak
